In [3]:
import psycopg2
import pandas as pds
from sqlalchemy import create_engine
alchemyEngine = create_engine('postgresql+psycopg2://postgres:msuproject@solarmsuproject.cfrh4os4lzss.us-east-1.rds.amazonaws.com:5432/<password>', pool_recycle=3600);
#('postgresql://postgres:msuproject@solarmsuproject.cfrh4os4lzss.us-east-1.rds.amazonaws.com:5432/<password>')

In [4]:
dbConnection=alchemyEngine.connect();

In [6]:
dataFrame=pds.read_sql("select * from \"complete_deep_solar_and_demographics_mich\"", dbConnection);

In [7]:
pds.set_option('display.expand_frame_repr', False);

In [8]:
print(dataFrame);

      tile_count  solar_system_count  total_panel_area         fips         county  solar_panel_area_divided_by_area  solar_panel_area_per_capita  tile_count_residential  solar_system_count_residential  total_panel_area_residential     lat     lon  daily_solar_radiation  number_of_solar_system_per_household  median_income  education_level  homeownership  population_density
0              0                   0          0.000000  26007000900  Alpena County                          0.000000                     0.000000                       0                               0                      0.000000  44.956 -83.381                   3.59                              0.000000        42792.0             17.5          80.07                19.1
1              0                   0          0.000000  26007990000  Alpena County                          0.000000                          NaN                       0                               0                      0.000000     NaN     NaN                    NaN                                   NaN        42792.0             17.5          80.07                19.1
2              0                   0          0.000000  26007000400  Alpena County                          0.000000                     0.000000                       0                               0                      0.000000  45.069 -83.418                   3.73                              0.000000        42792.0             17.5          80.07                19.1
3              0                   0          0.000000  26007000100  Alpena County                          0.000000                     0.000000                       0                               0                      0.000000  45.031 -83.657                   3.73                              0.000000        42792.0             17.5          80.07                19.1
4              2                   1         42.860100  26007000200  Alpena County                          0.277859                     0.010033                       2                               1                     42.860100  45.054 -83.593                   3.73                              0.000558        42792.0             17.5          80.07                19.1
...          ...                 ...               ...          ...            ...                               ...                          ...                     ...                             ...                           ...     ...     ...                    ...                                   ...            ...              ...            ...                 ...
1775           0                   0          0.000000  54099020800   Wayne County                          0.000000                     0.000000                       0                               0                      0.000000  38.089 -82.524                   3.83                              0.000000        46440.0             23.3          64.01              1103.0
1776           0                   0          0.000000  54099020900   Wayne County                          0.000000                     0.000000                       0                               0                      0.000000  38.138 -82.360                   3.83                              0.000000        46440.0             23.3          64.01              1103.0
1777           0                   0          0.000000  54099021000   Wayne County                          0.000000                     0.000000                       0                               0                      0.000000  37.969 -82.353                   3.87                              0.000000        46440.0             23.3          64.01              1103.0
1778           2                   2         61.978748  54099005100   Wayne County                         66.261705                     0.031192                       2                               2                     61.978748  38.403 -82.521                   3.83                              0.002410        46440.0             23.3          64.01              1103.0
1779           1                   1         46.398253  54099005200   Wayne County                         54.688719                     0.024628                       1                               1                     46.398253  38.398 -82.524                   3.83                              0.001302        46440.0             23.3          64.01              1103.0

[1780 rows x 18 columns]

In [9]:
dataFrame.head()

   tile_count  solar_system_count  total_panel_area         fips         county  solar_panel_area_divided_by_area  solar_panel_area_per_capita  tile_count_residential  solar_system_count_residential  total_panel_area_residential     lat     lon  daily_solar_radiation  number_of_solar_system_per_household  median_income  education_level  homeownership  population_density
0           0                   0            0.0000  26007000900  Alpena County                          0.000000                     0.000000                       0                               0                        0.0000  44.956 -83.381                   3.59                              0.000000        42792.0             17.5          80.07                19.1
1           0                   0            0.0000  26007990000  Alpena County                          0.000000                          NaN                       0                               0                        0.0000     NaN     NaN                    NaN                                   NaN        42792.0             17.5          80.07                19.1
2           0                   0            0.0000  26007000400  Alpena County                          0.000000                     0.000000                       0                               0                        0.0000  45.069 -83.418                   3.73                              0.000000        42792.0             17.5          80.07                19.1
3           0                   0            0.0000  26007000100  Alpena County                          0.000000                     0.000000                       0                               0                        0.0000  45.031 -83.657                   3.73                              0.000000        42792.0             17.5          80.07                19.1
4           2                   1           42.8601  26007000200  Alpena County                          0.277859                     0.010033                       2                               1                       42.8601  45.054 -83.593                   3.73                              0.000558        42792.0             17.5          80.07                19.1