In [55]:
import psycopg2
import pandas as pd
from sqlalchemy import create_engine
alchemyEngine = create_engine('postgresql+psycopg2://postgres:msuproject@solarmsuproject.cfrh4os4lzss.us-east-1.rds.amazonaws.com:5432/<password>', pool_recycle=3600);
#('postgresql://postgres:msuproject@solarmsuproject.cfrh4os4lzss.us-east-1.rds.amazonaws.com:5432/<password>')

In [56]:
dbConnection=alchemyEngine.connect();

In [57]:
dataFrame=pd.read_sql("select * from \"complete_deep_solar_and_demographics_mich\"", dbConnection);

In [58]:
pd.set_option('display.expand_frame_repr', False);

In [59]:
print(dataFrame);

      tile_count  solar_system_count  total_panel_area         fips         county  solar_panel_area_divided_by_area  solar_panel_area_per_capita  tile_count_residential  solar_system_count_residential  total_panel_area_residential     lat     lon  daily_solar_radiation  number_of_solar_system_per_household  median_income  education_level  homeownership  population_density
0              0                   0          0.000000  26007000900  Alpena County                          0.000000                     0.000000                       0                               0                      0.000000  44.956 -83.381                   3.59                              0.000000        42792.0             17.5          80.07                19.1
1              0                   0          0.000000  26007990000  Alpena County                          0.000000                          NaN                       0                               0                      0.000000     NaN     NaN                    NaN                                   NaN        42792.0             17.5          80.07                19.1
2              0                   0          0.000000  26007000400  Alpena County                          0.000000                     0.000000                       0                               0                      0.000000  45.069 -83.418                   3.73                              0.000000        42792.0             17.5          80.07                19.1
3              0                   0          0.000000  26007000100  Alpena County                          0.000000                     0.000000                       0                               0                      0.000000  45.031 -83.657                   3.73                              0.000000        42792.0             17.5          80.07                19.1
4              2                   1         42.860100  26007000200  Alpena County                          0.277859                     0.010033                       2                               1                     42.860100  45.054 -83.593                   3.73                              0.000558        42792.0             17.5          80.07                19.1
...          ...                 ...               ...          ...            ...                               ...                          ...                     ...                             ...                           ...     ...     ...                    ...                                   ...            ...              ...            ...                 ...
1775           0                   0          0.000000  54099020800   Wayne County                          0.000000                     0.000000                       0                               0                      0.000000  38.089 -82.524                   3.83                              0.000000        46440.0             23.3          64.01              1103.0
1776           0                   0          0.000000  54099020900   Wayne County                          0.000000                     0.000000                       0                               0                      0.000000  38.138 -82.360                   3.83                              0.000000        46440.0             23.3          64.01              1103.0
1777           0                   0          0.000000  54099021000   Wayne County                          0.000000                     0.000000                       0                               0                      0.000000  37.969 -82.353                   3.87                              0.000000        46440.0             23.3          64.01              1103.0
1778           2                   2         61.978748  54099005100   Wayne County                         66.261705                     0.031192                       2                               2                     61.978748  38.403 -82.521                   3.83                              0.002410        46440.0             23.3          64.01              1103.0
1779           1                   1         46.398253  54099005200   Wayne County                         54.688719                     0.024628                       1                               1                     46.398253  38.398 -82.524                   3.83                              0.001302        46440.0             23.3          64.01              1103.0

[1780 rows x 18 columns]

In [60]:
dataFrame.head()

   tile_count  solar_system_count  total_panel_area         fips         county  solar_panel_area_divided_by_area  solar_panel_area_per_capita  tile_count_residential  solar_system_count_residential  total_panel_area_residential     lat     lon  daily_solar_radiation  number_of_solar_system_per_household  median_income  education_level  homeownership  population_density
0           0                   0            0.0000  26007000900  Alpena County                          0.000000                     0.000000                       0                               0                        0.0000  44.956 -83.381                   3.59                              0.000000        42792.0             17.5          80.07                19.1
1           0                   0            0.0000  26007990000  Alpena County                          0.000000                          NaN                       0                               0                        0.0000     NaN     NaN                    NaN                                   NaN        42792.0             17.5          80.07                19.1
2           0                   0            0.0000  26007000400  Alpena County                          0.000000                     0.000000                       0                               0                        0.0000  45.069 -83.418                   3.73                              0.000000        42792.0             17.5          80.07                19.1
3           0                   0            0.0000  26007000100  Alpena County                          0.000000                     0.000000                       0                               0                        0.0000  45.031 -83.657                   3.73                              0.000000        42792.0             17.5          80.07                19.1
4           2                   1           42.8601  26007000200  Alpena County                          0.277859                     0.010033                       2                               1                       42.8601  45.054 -83.593                   3.73                              0.000558        42792.0             17.5          80.07                19.1

In [61]:
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn import linear_model
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
import warnings 
warnings.filterwarnings("ignore")

In [62]:
shape=dataFrame.shape
print("Dataset contains {} rows and {} columns".format(shape[0],shape[1]))

Dataset contains 1780 rows and 18 columns

In [63]:
dataFrame

      tile_count  solar_system_count  total_panel_area         fips         county  solar_panel_area_divided_by_area  solar_panel_area_per_capita  tile_count_residential  solar_system_count_residential  total_panel_area_residential     lat     lon  daily_solar_radiation  number_of_solar_system_per_household  median_income  education_level  homeownership  population_density
0              0                   0          0.000000  26007000900  Alpena County                          0.000000                     0.000000                       0                               0                      0.000000  44.956 -83.381                   3.59                              0.000000        42792.0             17.5          80.07                19.1
1              0                   0          0.000000  26007990000  Alpena County                          0.000000                          NaN                       0                               0                      0.000000     NaN     NaN                    NaN                                   NaN        42792.0             17.5          80.07                19.1
2              0                   0          0.000000  26007000400  Alpena County                          0.000000                     0.000000                       0                               0                      0.000000  45.069 -83.418                   3.73                              0.000000        42792.0             17.5          80.07                19.1
3              0                   0          0.000000  26007000100  Alpena County                          0.000000                     0.000000                       0                               0                      0.000000  45.031 -83.657                   3.73                              0.000000        42792.0             17.5          80.07                19.1
4              2                   1         42.860100  26007000200  Alpena County                          0.277859                     0.010033                       2                               1                     42.860100  45.054 -83.593                   3.73                              0.000558        42792.0             17.5          80.07                19.1
...          ...                 ...               ...          ...            ...                               ...                          ...                     ...                             ...                           ...     ...     ...                    ...                                   ...            ...              ...            ...                 ...
1775           0                   0          0.000000  54099020800   Wayne County                          0.000000                     0.000000                       0                               0                      0.000000  38.089 -82.524                   3.83                              0.000000        46440.0             23.3          64.01              1103.0
1776           0                   0          0.000000  54099020900   Wayne County                          0.000000                     0.000000                       0                               0                      0.000000  38.138 -82.360                   3.83                              0.000000        46440.0             23.3          64.01              1103.0
1777           0                   0          0.000000  54099021000   Wayne County                          0.000000                     0.000000                       0                               0                      0.000000  37.969 -82.353                   3.87                              0.000000        46440.0             23.3          64.01              1103.0
1778           2                   2         61.978748  54099005100   Wayne County                         66.261705                     0.031192                       2                               2                     61.978748  38.403 -82.521                   3.83                              0.002410        46440.0             23.3          64.01              1103.0
1779           1                   1         46.398253  54099005200   Wayne County                         54.688719                     0.024628                       1                               1                     46.398253  38.398 -82.524                   3.83                              0.001302        46440.0             23.3          64.01              1103.0

[1780 rows x 18 columns]

In [64]:
dataFrame.columns

Index(['tile_count', 'solar_system_count', 'total_panel_area', 'fips',
       'county', 'solar_panel_area_divided_by_area',
       'solar_panel_area_per_capita', 'tile_count_residential',
       'solar_system_count_residential', 'total_panel_area_residential', 'lat',
       'lon', 'daily_solar_radiation', 'number_of_solar_system_per_household',
       'median_income', 'education_level', 'homeownership',
       'population_density'],
      dtype='object')

In [65]:
dataFrame.describe()

        tile_count  solar_system_count  total_panel_area  solar_panel_area_divided_by_area  solar_panel_area_per_capita  tile_count_residential  solar_system_count_residential  total_panel_area_residential          lat          lon  daily_solar_radiation  number_of_solar_system_per_household  median_income  education_level  homeownership  population_density
count  1780.000000         1780.000000       1780.000000                       1780.000000                  1755.000000             1780.000000                     1780.000000                   1780.000000  1671.000000  1671.000000            1671.000000                           1750.000000    1780.000000      1780.000000    1780.000000         1780.000000
mean      5.013483            2.765169        338.646054                         30.454397                     0.033384                2.471910                        2.143258                     48.205813    41.888937   -83.203370               3.725817                              0.003032   49085.225843        31.299775      68.350949          661.279157
std      26.117343            6.056500       3590.078467                         73.099709                     0.643681                4.507666                        3.537518                     98.150622     2.236433     2.961192               0.162529                              0.034999    7869.006162        11.128753       5.124874          407.365998
min       0.000000            0.000000          0.000000                          0.000000                     0.000000                0.000000                        0.000000                      0.000000    28.337000  -110.867000               3.450000                              0.000000   39934.000000        17.500000      60.630000            4.100000
25%       0.000000            0.000000          0.000000                          0.000000                     0.000000                0.000000                        0.000000                      0.000000    42.266000   -83.720000               3.670000                              0.000000   46440.000000        23.300000      64.010000          245.500000
50%       1.000000            1.000000         25.365807                          6.411197                     0.005424                1.000000                        1.000000                     17.265710    42.403000   -83.302000               3.670000                              0.000867   46440.000000        23.300000      64.550000          556.100000
75%       4.000000            3.000000        107.419550                         36.940856                     0.016715                3.000000                        3.000000                     59.495679    42.664500   -83.126000               3.730000                              0.002058   48413.000000        38.500000      72.890000         1103.000000
max     707.000000          162.000000     110997.437200                       2018.658717                    25.276022               66.000000                       49.000000                   1397.798345    46.615000   -71.375000               4.970000                              1.000000   69434.000000        55.200000      80.490000         1103.000000

In [69]:
dataFrame = dataFrame.fillna(0)

In [70]:
x=dataFrame[['daily_solar_radiation','median_income', 'education_level', 'homeownership','population_density']]
y=dataFrame['number_of_solar_system_per_household']

In [71]:
regr=linear_model.LinearRegression()
regr.fit(x,y)

LinearRegression()

In [72]:
print('Intercept: \n', regr.intercept_)
print('Coefficients: \n', regr.coef_)

Intercept:
 0.03732605525444592
Coefficients:
 [ 1.20391485e-03 -2.00092670e-08  7.72413629e-05 -5.02597135e-04
 -8.52695593e-06]

In [74]:
x=sm.add_constant(x)
model=sm.OLS(y,x).fit()
predictions=model.predict(x)
print_model=model.summary()
print(print_model)

                                     OLS Regression Results
================================================================================================
Dep. Variable:     number_of_solar_system_per_household   R-squared:                       0.008
Model:                                              OLS   Adj. R-squared:                  0.005
Method:                                   Least Squares   F-statistic:                     2.764
Date:                                  Wed, 17 Aug 2022   Prob (F-statistic):             0.0171
Time:                                          07:02:09   Log-Likelihood:                 3464.0
No. Observations:                                  1780   AIC:                            -6916.
Df Residuals:                                      1774   BIC:                            -6883.
Df Model:                                             5
Covariance Type:                              nonrobust
=========================================================================================
                            coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------
const                     0.0373      0.025      1.521      0.128      -0.011       0.085
daily_solar_radiation     0.0012      0.001      1.316      0.188      -0.001       0.003
median_income         -2.001e-08    1.5e-07     -0.134      0.894   -3.14e-07    2.74e-07
education_level        7.724e-05    8.5e-05      0.909      0.363   -8.94e-05       0.000
homeownership            -0.0005      0.000     -1.937      0.053      -0.001    6.26e-06
population_density    -8.527e-06   3.54e-06     -2.409      0.016   -1.55e-05   -1.58e-06
==============================================================================
Omnibus:                     4351.157   Durbin-Watson:                   2.009
Prob(Omnibus):                  0.000   Jarque-Bera (JB):         31409187.448
Skew:                          24.961   Prob(JB):                         0.00
Kurtosis:                     651.847   Cond. No.                     1.49e+06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.49e+06. This might indicate that there are
strong multicollinearity or other numerical problems.